@(firma: io.prismic.Document, docs: Seq[io.prismic.Document])(implicit ctx: PrismicHelper.Context)

@main(firma, id = "about", Option("Über uns")) {

  <!-- ==============================================
  HEADER
  =============================================== -->
  <header id="home">

    <div class="container text-left">

      <h1>Wer wir sind</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>

    </div>

  </header><!--End header -->

  @section(docs)

  <!-- ==============================================
  CONTACT
  =============================================== -->
  <section id="contact" class="add-padding">

    <div class="container text-center">

      <div class="row">

        <div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">

          <h1 class="big-text">Rufen Sie mich an</h1>

          <p class="lead">Oder schreiben Sie mir einfach.<br>
            Ich freue mich auf Sie.</p>

            <p class="lead">Andrea Kapp<br>
              Coaching &amp; Therapie<br>
              Markgasse 28<br>
              3011 Bern</p>
              <p class="lead">+41 79 942 83 39</p>

            </div>

            <!--=== Contact Form ===-->
            <!--
            <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="contact.php" method="post" novalidate>
          -->
          <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="http://forms.brace.io/coaching-therapie@@kapp.ch" method="post" novalidate>

            <div class="form-group">
              <label class="control-label" for="contact-name">Name</label>
              <div class="controls">


                <input id="contact-name" name="name" placeholder="Ihr Name" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Bitte geben Sie ihren Namen ein">

                <i class="fa fa-user"></i>
              </div>
            </div><!-- End name input -->

            <div class="form-group">
              <label class="control-label" for="contact-mail">Email</label>
              <div class=" controls">

                <input id="contact-mail" name="_replyto" placeholder="Ihre Email" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Bitte geben Sie ihre Email ein" data-error-invalid="Ungültige Email Adresse">
                <i class="fa fa-envelope"></i>
              </div>
            </div><!-- End email input -->

            <div class="form-group">
              <label class="control-label" for="contact-message">Message</label>
              <div class="controls">

                <textarea id="contact-message" name="message"  placeholder="Ihre Nachricht" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Bitte erfassen Sie ihre Nachricht"></textarea>
                <i class="fa fa-comment"></i>
              </div>
            </div><!-- End textarea -->

            <input type="hidden" name="_next" value="http://kapp.ch/index.html" />

            <p><button name="submit" type="submit" class="btn btn-color2 btn-block" data-error-message="Eingabefehler!" data-sending-message="Am Senden..." data-ok-message="Message geschickt"><i class="fa fa-paper-plane"></i>Nachricht abschicken</button></p>

            <input type="hidden" name="submitted" id="submitted" value="true" />

          </form><!-- End contact-form -->

        </div>

      </div>

    </section>

    <!-- ==============================================
    MAP
    =============================================== -->
    <section id="map">

      <div id="gmap"></div>

    </section>

}
