@(firma: io.prismic.Document, docs: Seq[io.prismic.Document])(implicit ctx: PrismicHelper.Context)

@main(firma, id = "booking", Option("Termin buchen")) {

  <!-- ==============================================
  HEADER
  =============================================== -->
  <header id="home">

    <div class="container text-left" style="color: f58026;">

      <h1>Einen Schritt tun</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>

    </div>

  </header><!--End header -->


  <section id="booking" class="add-padding bg-color2">

    <div class="container">
      <iframe seamless="seamless" height="800px" width="800px" src="http://www.supersaas.de/schedule/kappcoachingtherapie/sitzung">
      </iframe>

    </div>
  </section>

 @section(docs)

}
