@(docs: Seq[io.prismic.Document])(implicit ctx: PrismicHelper.Context)

@main(id = "booking", Option("Termin buchen")) {

  <section id="about" class="add-padding bg-color3">

    <div class="container">

      <h1>Booking:  </h1>
      <p>
      <a href="http://www.supersaas.de/schedule/kappcoachingtherapie/sitzung">
        <img src="http://cdn.supersaas.net/en/but/book_now_star_red.png" alt="Book Now"/>
      </a>
</p>
      <iframe seamless="seamless" height="800px" width="800px" src="http://www.supersaas.de/schedule/kappcoachingtherapie/sitzung">
      </iframe>

    </div>
  </div>

 @section(docs)

}
