@(docs: Seq[io.prismic.Document])(implicit ctx: PrismicHelper.Context)

@main(id = "booking", Option("Termin buchen")) {

  <!-- ==============================================
  HEADER
  =============================================== -->
  <header id="home">

    <div class="container text-left"style="color: f58026;">

      <h1>Einen Schritt tun</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>

    </div>

  </header><!--End header -->


  <section id="about" class="add-padding bg-color2">

    <div class="container">

      <h1>Booking:  </h1>
      <p>
      <a href="http://www.supersaas.de/schedule/kappcoachingtherapie/sitzung">
        <img src="http://cdn.supersaas.net/en/but/book_now_star_red.png" alt="Book Now"/>
      </a>
</p>
      <iframe seamless="seamless" height="800px" width="800px" src="http://www.supersaas.de/schedule/kappcoachingtherapie/sitzung">
      </iframe>

    </div>
  </section>

 @section(docs)

}
