@(firma: io.prismic.Document, response: io.prismic.Response)(implicit ctx: PrismicHelper.Context)

@main(firma, id = "faq") {

  <section id="faq" class="add-padding">

    <div class="container add-padding bg-color1" background-color="#bbbbbb">

      <h1 class="section-title big-text scrollimation fade-up">FAQ</h1>
      <!--
      <p class="section-description lead center">[%= copy.getText('copy.services_lede') %]</p>
    -->

    <div class="row">


      <div class="col-sm-4 item text-center scrollimation scale-in">


        <h3>hallo</h3>


      </div>




</div>

</div>

</section>


@section(response.results)

  <form action="@routes.Application.search()" method="GET">
    <input type="text" name="q" value="">
    <input type="submit" value="Search">
  </form>

  <hr>

  <h2>
    @response.resultsSize match {
      case 0 => { Nichts gefunden }
      case 1 => { One document found }
      case n => { Showing @n out of @response.totalResultsSize documents }
    }
  </h2>

  <ul>
    @response.results.map { document =>
      <li>
        <a href="@routes.Application.detail(document.id, document.slug)">
          @document.slug
        </a>
      </li>
    }
  </ul>

  @if(response.totalPages > 1) {
    <div>
      @if(response.prevPage.isDefined) {
      <a href="@routes.Application.indexp(response.page - 1)">Previous</a>
      } else {
      <span>Previous</span>
      }
      @if(response.nextPage.isDefined) {
      <a href="@routes.Application.indexp(response.page + 1)">Next</a>
      } else {
      <span>Next</span>
      }
    </div>
  }
}
