@()(implicit ctx: PrismicHelper.Context)

<footer id="main-footer" class="add-padding bg-color3 border-top-color2">

  <div class="container left">

    <div class="row">

      <div class="col-sm-6 col-md-5 text-right">
        <p>
          <a href="@routes.Application.index#services" class="scrollto">Angebot</a><br>
          <a href="@routes.Application.about#about" class="scrollto">Über uns</a><br>
          <a href="@routes.Application.booking#" class="scrollto">Termin buchen</a><br>
          <a href="@routes.Application.about#contact" class="scrollto">Kontakt</a><br>
        </p>
      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <p>
          <a href="@routes.Application.booking#tarife" class="scrollto">Tarife</a><br>
          <a href="@routes.Application.about#contact" >Support</a><br>
          <a href="@routes.Application.faq">FAQ</a><br>
          <a href="@routes.Application.bedingungen">AGB</a><br>

        </p>
      </div>

    </div>

    <br>

    <ul class="social-links text-center">
      <li><a href="#link" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="https://www.linkedin.com/pub/andrea-kapp/60/9aa/8ba/de" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>

    <p class="text-center">&copy; 2014 Andrea Kapp - All rights reserved</p>
    <p class="text-center"><a href="http://artooa.ch" target="_blank">Konzeption: Artooa GmbH</a></p>

  </div>

</footer>
