@()(implicit ctx: PrismicHelper.Context)

<footer id="main-footer" class="add-padding bg-color3 border-top-color2">

  <div class="container left">


    <div class="row">

      <div class="col-sm-6 col-md-5 text-right">
        <p>
          <a href="#services" class="scrollto">Mein Angebot</a><br>
          <a href="#about" class="scrollto">Über mich</a><br>
          <a href="#portfolio" class="scrollto">Meine Arbeit</a><br>
          <a href="#contact" class="scrollto">Kontakt</a><br>
        </p>
      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <p>
          <a href="#services" class="scrollto">Termine</a><br>
          <a href="#about" class="scrollto">FAQ</a><br>
          <a href="#portfolio" class="scrollto">Link2</a><br>
          <a href="#contact" class="scrollto">Link3</a><br>
        </p>
      </div>

    </div>

    <br>

    <ul class="social-links text-center">
      <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>

    <p class="text-center">&copy; 2014 Andrea Kapp - All rights reserved</p>
    <p class="text-center"><a href="http://artooa.ch" target="_blank">Konzeption: Artooa GmbH</a></p>

  </div>

</footer>
