@(title: String)(content: Html)(implicit ctx: PrismicHelper.Context)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>


        @** Required for Previews and Experiments *@
        <script src="//static.cdn.prismic.io/prismic.min.js"></script>
    </head>
    <body>

        <header>
          <a href="@routes.Application.index()">
            <h1>Your prismic.io project</h1>
          </a>

        </header>

        @content

        @* Here, your google analytics script *@

        @* Then include this to use prismic.io experiments:
         * @experiment()
         *@

         @footer()

         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
         <script>window.jQuery || document.write('<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))")"><\/script>')</script>

         <script src="https://static.cdn.prismic.io/prismic.min.js"></script>
    </body>
</html>
